div.heading {
    text-align: center;
	border: 3px solid black;
	margin: 2% 25% 5% 25%;
}
h1 {
	font-size: 45pt;
	font-family: "Georgia";
	height: 30px;
}
img.picture {
	width: 500px;
    height: 500px;
	object-fit: cover;
}
img.icon {
    width: 25px;
    height: 25px;
}
th {
	font-size: 25pt
}
td {
	font-size: 15pt
}

a {
	text-decoration: none;
	color: black;
	font-family: "Georgia";
}
