div.heading {
	border: 3px solid black;
	margin: 10px auto 20px auto;
	width: 940px;
}
h1 {
	text-align: center;
	font-size: 50pt;
	font-family: "Georgia";
	font-weight: 500;
	height: 30px;
}
div.content {
	margin: 0 auto;
	width: 1000px;
}
div.blank {
	height: 30px;
	font-size: 24pt;
	margin-top: 60px;
}
table.pic_table {
	margin: 0;
}
img.picture {
	width: 500px;
    height: 500px;
	object-fit: cover;
}
img.icon {
    width: 25px;
    height: 25px;
}
th {
	font-size: 25pt;
}
td {
	font-size: 15pt;
	font-family: "Georgia",italic;
}
a {
	text-decoration: none;
	color: grey;
}
div.bottom {
	margin-top: 40px;
	margin-bottom: 20px;
}
